IMPORTING LIBRARY

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

READING THE DATA SET

In [4]:
df=pd.read_csv('loan2.csv')

DISPLAYING TOP 5 RECORDS

In [5]:
df.head()

,person_home_ownership,loan_intent,loan_grade,person_age,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_income,person_emp_length,cb_person_default_on_file
0,RENT,PERSONAL,D,22,35000,16.02,1,0.59,3,59000,123,Y
1,OWN,EDUCATION,B,21,1000,11.14,0,0.10,2,9600,5,N
2,MORTGAGE,MEDICAL,C,25,5500,12.87,1,0.57,3,9600,1,N
3,RENT,MEDICAL,C,23,35000,15.23,1,0.53,2,65500,4,N
4,RENT,MEDICAL,C,24,35000,14.27,1,0.55,4,54400,8,Y

DESCRIBING THE COLUMNS IN DATA SET

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_home_ownership       32581 non-null  object
 1   loan_intent                 32581 non-null  object
 2   loan_grade                  32581 non-null  object
 3   person_age                  32581 non-null  int64
 4   loan_amnt                   32581 non-null  int64
 5   loan_int_rate               32581 non-null  float64
 6   loan_status                 32581 non-null  int64
 7   loan_percent_income         32581 non-null  float64
 8   cb_person_cred_hist_length  32581 non-null  int64
 9   person_income               32581 non-null  int64
 10  person_emp_length           32581 non-null  int64
 11  cb_person_default_on_file   32581 non-null  object
dtypes: float64(2), int64(6), object(4)
memory usage: 3.0+ MB

In [7]:
subset=df.loc[:,'loan_amnt':'cb_person_default_on_file']

In [8]:
df1=subset

In [9]:
df1

,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_income,person_emp_length,cb_person_default_on_file
0,35000,16.02,1,0.59,3,59000,123,Y
1,1000,11.14,0,0.10,2,9600,5,N
2,5500,12.87,1,0.57,3,9600,1,N
3,35000,15.23,1,0.53,2,65500,4,N
4,35000,14.27,1,0.55,4,54400,8,Y
...,...,...,...,...,...,...,...,...
32576,5800,13.16,0,0.11,30,53000,1,N
32577,17625,7.49,0,0.15,19,120000,4,N
32578,35000,10.99,1,0.46,28,76000,3,N
32579,15000,11.48,0,0.10,26,150000,5,N
32580,6475,9.99,0,0.15,30,42000,2,N

SPLITING DATA SETS AS X AND Y(TARGET)

In [10]:
x=df1.iloc[:,:7]

In [11]:
x

,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_income,person_emp_length
0,35000,16.02,1,0.59,3,59000,123
1,1000,11.14,0,0.10,2,9600,5
2,5500,12.87,1,0.57,3,9600,1
3,35000,15.23,1,0.53,2,65500,4
4,35000,14.27,1,0.55,4,54400,8
...,...,...,...,...,...,...,...
32576,5800,13.16,0,0.11,30,53000,1
32577,17625,7.49,0,0.15,19,120000,4
32578,35000,10.99,1,0.46,28,76000,3
32579,15000,11.48,0,0.10,26,150000,5
32580,6475,9.99,0,0.15,30,42000,2

In [12]:
y=df1.iloc[:,7:].values

In [13]:
y

array([['Y'],
       ['N'],
       ['N'],
       ...,
       ['N'],
       ['N'],
       ['N']], dtype=object)

SPLITTING DATA AS TRAINING AND TESTING DATA

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y.ravel(),test_size=0.2,random_state=0)

In [16]:

x_train

,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_income,person_emp_length
2162,5000,10.71,0,0.17,2,30000,4
7670,1200,13.11,0,0.02,3,54000,8
24007,10000,12.69,1,0.34,10,29000,2
25230,25000,21.27,1,0.33,6,75840,5
4897,5000,6.99,0,0.13,2,39000,4
...,...,...,...,...,...,...,...
13123,24000,0.00,0,0.27,2,88494,8
19648,4000,13.61,0,0.11,5,35000,11
9845,9000,10.83,0,0.23,2,38500,1
10799,10000,0.00,0,0.24,2,42000,4
2732,10950,7.29,0,0.32,2,34000,7

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
st=StandardScaler()

In [19]:
x_train=st.fit_transform(x_train)

In [20]:
x_test=st.fit_transform(x_test)

In [21]:
x_train

array([[-0.72801377,  0.17310984, -0.53321711, ..., -0.93998538,
        -0.55188661, -0.16208507],
       [-1.3299034 ,  0.708681  , -0.53321711, ..., -0.69242535,
        -0.18720293,  0.7925156 ],
       [ 0.06394628,  0.61495605,  1.87540868, ...,  1.04049491,
        -0.56708176, -0.63938541],
       ...,
       [-0.09444573,  0.1998884 , -0.53321711, ..., -0.93998538,
        -0.4227278 , -0.87803558],
       [ 0.06394628, -2.21687647, -0.53321711, ..., -0.93998538,
        -0.36954477, -0.16208507],
       [ 0.21441869, -0.59007906, -0.53321711, ..., -0.93998538,
        -0.49110599,  0.55386543]])

In [22]:
y_train

array(['N', 'Y', 'N', ..., 'N', 'N', 'N'], dtype=object)

IMPLEMENTATION OF RANDOM FOREST CLASSIFIER}

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
model= RandomForestClassifier()

In [25]:
model.fit(x_train, y_train)

RandomForestClassifier()

In [26]:
predicted= model.predict(x_test)

CALCULATING ACCURACY

In [27]:
from sklearn import metrics

In [32]:
print("\nAccuracy Of Random forest classifier For The Given Dataset : ", metrics.accuracy_score(y_test,predicted))

Accuracy Of Random forest classifier For The Given Dataset :  0.833665797145926

DISPLAYING CONFUSION MATRIX

In [29]:
from sklearn.metrics import confusion_matrix

In [30]:
confusion_matrix(y_test,predicted)

array([[4945,  456],
       [ 628,  488]], dtype=int64)